.autocomplete {
  border: solid 1px #ced4da;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: scroll;
  > p {
    border-bottom: 1px solid #ced4da;
    cursor: pointer;
    &:hover {
      background-color: #ced4da;
    }

  }
   > p:last-child {
  border-bottom: none;

}
}
