<div class="row mb-1 mr-0 custom-border">
  <!-- Image column -->
  <div class="col-md-1 border-right p-1 text-center mb-1 mt-1">
    <img src="assets/product.png" width="100px" height="100px">
  </div>

  <!-- Detail article -->
  <div class="col-md-5 border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
      <div class="col">Nom</div>
    </div>

    <div class="row">
      <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
      <div class="col">Prenom</div>
    </div>

    <div class="row">
      <div class="col-md-1"><i class="fas fa-phone-alt blue-color"></i></div>
      <div class="col">8811 22 33 44 55 66</div>
    </div>
  </div>

  <!-- Detail category -->
  <div class="col-md-3 border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-1"><i class="fas fa-home blue-color"></i></div>
      <div class="col">Adress 1 Adress 2</div>
    </div>

    <div class="row">
      <div class="col-md-1"><i class="fas fa-map-marker-alt"></i></div>
      <div class="col">12345 Ville</div>
    </div>

    <div class="row">
      <div class="col-md-1"><i class="fas fa-globe-europe blue-color"></i></div>
      <div class="col">Pays</div>
    </div>
  </div>

  <!-- Buttons action -->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fa-solid fa-pencil"></i>&nbsp; Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fa-solid fa-trash-can"></i>&nbsp; Supprime
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fa-solid fa-list-ul"></i>&nbsp; Detail
        </button>
      </div>
    </div>
  </div>
</div>
