<div class="row mb-1 mr-0  custom-border">

  <!-- detail article -->
  <div class="col-md-3 border-right mb-1 mt-1 ">
    <div class="col-row text-center">
      <div class="col">12.12.2025</div>
    </div>
  </div>


  <!-- Detail category -->
  <div class="col-md-3 border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>139</h5>
      </div>
    </div>
  </div>
  <div class="col-md-3 border-right mb-1 mt-1">
    <div class="row">
      <div class="col-md-12 text-center">
        <h5>Sortie</h5>
      </div>
    </div>
  </div>
  <!-- buttons action-->

  <!-- buttons action-->
  <div class="col-md-3 border-right mb-1 mt-1">
    <div class="row text-center">
      <h6 >COMMANDE_CLIENT</h6>
    </div>
  </div>
</div>



