<div class="row mb-1 mr-0  custom-border">
  <!-- Image column -->
  <div class="col-md-1 border-right p-1 text-center mb-1 mt-1 ">
    <img src="assets/product.png" width="100px" height="100px">
  </div>

  <!-- detail article -->
  <div class="col-md-5 border-right mb-1 mt-1 ">
    <div class="row mb-1 align-items-center">
      <div class="col-auto">
        <i class="fa-solid fa-circle-info blue-color"></i>
      </div>
      <div class="col">Code article</div>
    </div>
    <div class="row mb-1 align-items-center">
      <div class="col-auto">
        <i class="fa-solid fa-circle-info blue-color"></i>
      </div>
      <div class="col">Designation</div>
    </div>
    <div class="row mb-1 align-items-center">
      <div class="col-auto">
        <i class="fa-solid fa-dollar-sign blue-color"></i>
      </div>
      <div class="col">Prix HT</div>
    </div>
    <div class="row mb-1 align-items-center">
      <div class="col-auto">
        <i class="fa-solid fa-dollar-sign blue-color"></i>
      </div>
      <div class="col">Prix TTC</div>
    </div>
  </div>

  <!-- Detail category -->
  <div class="col-md-3 border-riht mb-1 mt-1">
    <div class="row">
      <div class="col-md-2">
        <i class="fa-solid fa-flag-checkered blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12">Code category</div>
          <div class="col-md-12">Description category</div>
        </div>

      </div>
    </div>

  </div>
  <!-- buttons action-->

  <!-- buttons action-->
  <div class="col-md-3 mb-1 mt-1">
    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn  btn-link ">
          <i class="fa-solid fa-pencil"></i>&nbsp; Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn  btn-link ">
          <i class="fa-solid fa-trash-can"></i>&nbsp;Supprime
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn  btn-link ">
          <i class="fa-solid fa-list-ul"></i>&nbsp; Detail
        </button>
      </div>
    </div>
  </div>
</div>

