<div class="d-flex ">
  <div class="p-2 flex-fill bd-highlight">
    <button type="button" class="btn btn-warning">
      <i class="fas fa-cloud-upload"></i>&nbsp;
      Importe
    </button>
  </div>
  <div class="p-2 flex-fill bd-highlight">
    <button type="button" class="btn btn-success">
      <i class="fas fa-cloud-download"></i>&nbsp;
      Exporter
    </button>
  </div>
  <div class="p-2 flex-fill bd-highlight">
    <button type="button" class="btn btn-primary">
      <i class="fas fa-plus"></i>&nbsp;
      Nouveaur
    </button>
  </div>
</div>

