/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
  background-color: #eff2f5 !important;
}
.background-gray{
  background-color: #eff2f5 !important;
}
.border-none{
  border: none !important;
}
.min-height-80{
  min-height: 80px;
}
.custom-border-right {
  border-right:2px solid #eff2f5;
}
.custom-border {
  border: solid #eff2f5;
  border-radius: 5px;
}
.blue-color {
  color:#037bfe
}
